/.ipynb_checkpoints
/AI-CA2-divar_data.zip
/AI-CA2.mp4
/AI_CA2_810198346.zip
/f1.png
/imgpsh_fullsize_anim (1).png
/imgpsh_fullsize_anim (2).png
/imgpsh_fullsize_anim (3).png
/imgpsh_fullsize_anim.png